/* Adjustments for mobile responsiveness */
@media (max-width: 768px) {
	.login_container {
		 width: 90%; /* Make container take up less space on smaller screens */
		 min-height: auto; /* Adjust height based on content */
	 }
 
	.login_form_container {
		 width: 95%; /* Adjust width for better fit on small screens */
		 height: auto; /* Adjust height based on content */
	 }
 
	.left,.right {
		 flex: 1; /* Equalize left and right sections on smaller screens */
		 padding: 10px; /* Add some padding inside sections for spacing */
	 }
 
	.form_container {
		 width: 100%; /* Full width for inputs on small screens */
	 }
 
	.input,.error_msg {
		 width: 100%; /* Full width for inputs on small screens */
		 margin: 5px 0; /* Maintain some margin */
	 }
 }
 
 /* General adjustments for aesthetics and functionality */
 .login_container {
	 width: 100%;
	 min-height: 100vh;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 background-color: transparent; /* Remove white background */
 }
 
 .login_form_container {
	 width: 900px;
	 height: 500px;
	 display: flex;
	 border-radius: 10px;
	 box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
				 0px 3px 4px 0px rgb(0 0 0 / 14%), 
				 0px 1px 8px 0px rgb(0 0 0 / 12%);
 }
 
 .left {
	 flex: 2;
	 display: flex;
	 flex-direction: column;
	 align-items: center;
	 justify-content: center;
	 
	 border-top-left-radius: 10px;
	 border-bottom-left-radius: 10px;
 }
 
 .form_container {
	 display: flex;
	 flex-direction: column;
	 align-items: center;
 }
 
 .form_container h1 {
	 font-size: 40px;
	 margin-top: 0;
 }
 
 .input {
	 outline: none;
	 border: none;
	 width: 370px;
	 padding: 15px;
	 border-radius: 10px;
	 background-color: #edf5f3;
	 margin: 5px 0;
	 font-size: 14px;
 }
 
 .error_msg {
	 width: 370px;
	 padding: 15px;
	 margin: 5px 0;
	 font-size: 14px;
	 background-color: #f34646;
	 color: white;
	 border-radius: 5px;
	 text-align: center;
 }
 
 .right {
	 flex: 1;
	 display: flex;
	 flex-direction: column;
	 align-items: center;
	 justify-content: center;
	 background-color: hsl(204, 79%, 64%);
	 border-top-right-radius: 10px;
	 border-bottom-right-radius: 10px;
 }
 
 .right h1 {
	 margin-top: 0;
	 color: white;
	 font-size: 40px;
	 align-self: center;
 }
 
 .white_btn,
 .green_btn {
	 border: none;
	 outline: none;
	 padding: 12px 0;
	 
	 border-radius: 20px;
	 width: 180px;
	 font-weight: bold;
	 font-size: 14px;
	 cursor: pointer;
 }
 
 .green_btn {
	 background-color: hsl(204, 79%, 64%);
	 color: white;
	 margin: 10px;
 }
 